.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.section {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 96px 24px;
}
.section > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.section > :global(.__wab_flex-container) > *,
.section > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section > :global(.__wab_flex-container) > picture > img,
.section
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.button___5Noq:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__vR4U8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.hoverIndicator2 {
  width: 80px;
  height: 80px;
  display: block;
  flex-shrink: 0;
}
.img__rRvv {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 80px;
  height: 80px;
  display: block !important;
  top: 0px;
  left: 0px;
}
.img__rRvv > picture > img {
  object-fit: cover;
}
.img__rRvv > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.svg___3X8Eb {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #ffc20e;
  transform: scale(0.9998489885977782, 1.0005560953789647) rotate(45deg)
    skew(-0.04052034650700807deg, 0deg) translate(-0.0589999999999975px, 0px);
  width: 48px;
  height: 48px;
  display: block;
  transform-origin: top left;
  top: -13.76%;
  left: 72.5%;
  overflow: hidden;
}
.accordion:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.accordionItem__odMol:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.accordionButton:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__rs0Ce {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  color: #ff0000;
  min-width: 0;
}
.accordionIcon:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.accordionPanel:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__xaiDe:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___9A4Wv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.accordionItem__eDyIt:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.accordionButton__rNrYs:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__f3FHb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  min-width: 0;
}
.accordionIcon__wVcKa:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.accordionPanel__dir95:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__cRVt:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__tZ0Iy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.arcadeIcon:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.avatar:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.avatarBadge__iZw6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.badge:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.bowlingIcon:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.breadcrumb:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.breadcrumbItem__uxEg4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.breadcrumbLink__fpAh:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__gllxi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.breadcrumbItem__nbe0E:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.breadcrumbLink__hhkzX:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__zN3Y {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.breadcrumbItem__fiFIx:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.breadcrumbLink__jda2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__iuWed {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button__vV8Ye:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__nfd9G {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.buttonGroup:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.button__yTtGt:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__tBmjp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button__cFfn:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__dF8Zd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.buttonPreview:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.card:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.cardHeader:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.imageWithOverlay__pWsRp:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.heading__jw9Hc:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: white;
}
.cardBody:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tag__nTKgM:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tagLeftIcon__ftUd:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tagLabel__ch00X:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___81SDd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tagRightIcon__iZd0L:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tagCloseButton__m6WAs:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tag___3H56F:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tagLeftIcon__ae5Yo:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tagLabel__lkdpk:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__z8Zq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tagRightIcon__ippLw:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tagCloseButton__mjIng:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tag__vHtDk:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tagLeftIcon__jm6Ns:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tagLabel__a19Wy:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__qj6Fp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tagRightIcon__q3P3N:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tagCloseButton__ie8Ze:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tag__eaKc2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tagLeftIcon___1SVL:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tagLabel___83H5S:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__b6B2A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tagRightIcon__h2CT1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tagCloseButton__ulJyp:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tag__kgT8:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tagLeftIcon__dQWo:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tagLabel__orMZm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__ckDBw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tagRightIcon__iwu9W:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tagCloseButton__iwCVi:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tag___1XeK:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tagLeftIcon__h7STv:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tagLabel__fdEsn:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__w3Ho {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tagRightIcon__uQh3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tagCloseButton___6DiRz:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__oGfPh:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__hMlCq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.cardFooter:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.stack___7ZkVc:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.iconButton__jGtL4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.golfIcon__lesAd:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.iconButton__gqmg8:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.golfIcon__cYxnb:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.iconButton___4YVme:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.golfIcon__oYk3E:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.iconButton___3GqN2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.golfIcon__axiRk:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.iconButton___7U4E9:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.golfIcon__oehIe:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.iconButton__aqVVr:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.golfIcon__aPqAk:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tag__zPsJs:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tagLeftIcon__cpIgq:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tagLabel__zRoTv:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__o3A5I {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tagRightIcon__bYVc:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tagCloseButton__sUsXe:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.checkbox:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__aVwz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.checkboxGroup:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.checkbox__wdAE:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__muf03 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.checkbox__omnBk:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__o1Esv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.checkbox__zNLg:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__sNpiY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.divider:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.escaperoomIcon:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.formControl:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.formLabel__kNzT:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__mq614 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  display: inline-block;
}
.input__uxkJv:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.funPassIcon:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.golfIcon:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.heading:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__gnDsr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.highlight:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.hijinxIcon:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.image:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.imageWithOverlay:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.heading__nEcKl:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: white;
}
.text__wZeBm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.input:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.karaokeIcon:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.laserIcon:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.locationPinIcon:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.numberInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.numberInputField__hivuq:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.numberInputStepper___7QR5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.numberIncrementStepper__la9V:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.numberDecrementStepper__i4RwS:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.option:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__x7VYy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.pinInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.pinInputField__mPoSl:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.pinInputField__ePcn:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.pinInputField__d7DwT:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.pinInputField__q0JH:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.progress:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.radioGroup__l7N21:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__jvwm3 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__jvwm3 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__jvwm3 > :global(.__wab_flex-container) > *,
.freeBox__jvwm3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jvwm3 > :global(.__wab_flex-container) > picture > img,
.freeBox__jvwm3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
  margin-top: 12px;
}
.radio__eJtzs:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___5Wkr4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.radio__xbQpy:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__cvtvh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.radio__k7Dy:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__ktrXx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.radio:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__r0DE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.radioGroup___6Iv1A:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__cZwFd {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__cZwFd > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__cZwFd > :global(.__wab_flex-container) > *,
.freeBox__cZwFd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cZwFd > :global(.__wab_flex-container) > picture > img,
.freeBox__cZwFd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
  margin-top: 12px;
}
.radio__mFqca:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__yvRv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.radio__qSsB:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__oxN4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.radio__cObBs:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__chFWx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.select:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.option__gufQh:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__uh5Yu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.option__kxZw6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___7CySk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.option__teZTe:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___5Hvss {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.stack__mudse:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.stat:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.statLabel___64CiS:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___3Rrgs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.statNumber__fiBu:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___4TIp2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.statHelpText__iWeV9:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__jd5Pp {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.statArrow__lhSy5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__c0NDb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
._switch:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.tabs:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.tabList__i0MYo:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tab__y0Lwj:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__c0Co {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tab__upt0:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__w6Jq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tab__vVk6O:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__tnA3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tabPanels__effle:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tabPanel___7PGrT:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__hVmcj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tabPanel__ycHvN:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__fClXz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tabPanel__cDSq5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__z08Hn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tag__aIq7O:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.tagLeftIcon__fws83:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.golfIcon__qX3U3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tagLabel__nObf:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__oFGq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tagRightIcon__vpal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.golfIcon__dggGb:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tagCloseButton__giOnt:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.table:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.tableContainer:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.table__izpVw:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.thead__tftLo:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tr__peg21:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.th__h0Gjk:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__lpwBb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.th__ppnEc:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__gsDEs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.th__d8Vsl:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__zLhu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tbody___47WyU:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tr__k2Vas:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.td___68Iy:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__nvJfE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.td__slrss:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___88IrE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.td__tUoZx:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__s3F {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.toast:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.tooltip:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.button__kHil:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__wwdZn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.wondervilleIcon:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.aspectRatio:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.image__le4Wx:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.hoverIndicator {
  width: 80px;
  height: 80px;
  display: block;
  flex-shrink: 0;
}
.img__ra3W8 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 80px;
  height: 80px;
  display: block !important;
  top: 0px;
  left: 0px;
}
.img__ra3W8 > picture > img {
  object-fit: cover;
}
.img__ra3W8 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.svg__m1GB {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #ffc20e;
  transform: scale(0.9998489885977782, 1.0005560953789647) rotate(45deg)
    skew(-0.04052034650700807deg, 0deg) translate(-0.0589999999999975px, 0px);
  width: 48px;
  height: 48px;
  display: block;
  transform-origin: top left;
  top: -13.76%;
  left: 72.5%;
  overflow: hidden;
}
