@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_default_styles {
  --mixin-CzDtDaISjQ-v_font-family: "Inter", sans-serif;
  --mixin-CzDtDaISjQ-v_font-size: 16px;
  --mixin-CzDtDaISjQ-v_font-weight: 400;
  --mixin-CzDtDaISjQ-v_font-style: normal;
  --mixin-CzDtDaISjQ-v_color: #535353;
  --mixin-CzDtDaISjQ-v_text-align: left;
  --mixin-CzDtDaISjQ-v_text-transform: none;
  --mixin-CzDtDaISjQ-v_line-height: 1.5;
  --mixin-CzDtDaISjQ-v_letter-spacing: normal;
  --mixin-CzDtDaISjQ-v_white-space: pre-wrap;
  --mixin-CzDtDaISjQ-v_user-select: text;
  --mixin-CzDtDaISjQ-v_text-decoration-line: none;
  --mixin-CzDtDaISjQ-v_text-overflow: clip;
  --mixin-pPa4TcFonnCn_color: #000000;
  --mixin-pPa4TcFonnCn_font-weight: 900;
  --mixin-pPa4TcFonnCn_font-size: 72px;
  --mixin-pPa4TcFonnCn_line-height: 1;
  --mixin-pPa4TcFonnCn_letter-spacing: -4px;
  --mixin-pPa4TcFonnCn_white-space: pre-wrap;
  --mixin--x76mefiqsQU_color: #000000;
  --mixin--x76mefiqsQU_font-size: 48px;
  --mixin--x76mefiqsQU_font-weight: 700;
  --mixin--x76mefiqsQU_letter-spacing: -1px;
  --mixin--x76mefiqsQU_line-height: 1.1;
  --mixin--x76mefiqsQU_white-space: pre-wrap;
  --mixin-mzTN3q4xEjXr_color: #0070f3;
  --mixin-mzTN3q4xEjXr_white-space: pre-wrap;
  --mixin-PRmvoRb3ZwyG_color: #000000;
  --mixin-PRmvoRb3ZwyG_font-size: 32px;
  --mixin-PRmvoRb3ZwyG_font-weight: 600;
  --mixin-PRmvoRb3ZwyG_letter-spacing: -0.8px;
  --mixin-PRmvoRb3ZwyG_line-height: 1.2;
  --mixin-PRmvoRb3ZwyG_white-space: pre-wrap;
  --mixin-J-85gelNlI3A_color: #000000;
  --mixin-J-85gelNlI3A_font-size: 24px;
  --mixin-J-85gelNlI3A_font-weight: 600;
  --mixin-J-85gelNlI3A_letter-spacing: -0.5px;
  --mixin-J-85gelNlI3A_line-height: 1.3;
  --mixin-J-85gelNlI3A_white-space: pre-wrap;
  --mixin-zFEF3JOzzQLF_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-zFEF3JOzzQLF_border-bottom-color: #dddddd;
  --mixin-zFEF3JOzzQLF_border-bottom-style: solid;
  --mixin-zFEF3JOzzQLF_border-bottom-width: 1px;
  --mixin-zFEF3JOzzQLF_border-left-color: #dddddd;
  --mixin-zFEF3JOzzQLF_border-left-style: solid;
  --mixin-zFEF3JOzzQLF_border-left-width: 1px;
  --mixin-zFEF3JOzzQLF_border-right-color: #dddddd;
  --mixin-zFEF3JOzzQLF_border-right-style: solid;
  --mixin-zFEF3JOzzQLF_border-right-width: 1px;
  --mixin-zFEF3JOzzQLF_border-top-color: #dddddd;
  --mixin-zFEF3JOzzQLF_border-top-style: solid;
  --mixin-zFEF3JOzzQLF_border-top-width: 1px;
  --mixin-zFEF3JOzzQLF_border-bottom-left-radius: 3px;
  --mixin-zFEF3JOzzQLF_border-bottom-right-radius: 3px;
  --mixin-zFEF3JOzzQLF_border-top-left-radius: 3px;
  --mixin-zFEF3JOzzQLF_border-top-right-radius: 3px;
  --mixin-zFEF3JOzzQLF_font-family: "Inconsolata";
  --mixin-zFEF3JOzzQLF_padding-bottom: 1px;
  --mixin-zFEF3JOzzQLF_padding-left: 4px;
  --mixin-zFEF3JOzzQLF_padding-right: 4px;
  --mixin-zFEF3JOzzQLF_padding-top: 1px;
  --mixin-zFEF3JOzzQLF_white-space: pre-wrap;
  --mixin-eAVq2OMI8u5w_border-left-color: #dddddd;
  --mixin-eAVq2OMI8u5w_border-left-style: solid;
  --mixin-eAVq2OMI8u5w_border-left-width: 3px;
  --mixin-eAVq2OMI8u5w_color: #888888;
  --mixin-eAVq2OMI8u5w_padding-left: 10px;
  --mixin-eAVq2OMI8u5w_white-space: pre-wrap;
  --mixin-vDjk9Pd9bv7s_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-vDjk9Pd9bv7s_border-bottom-color: #dddddd;
  --mixin-vDjk9Pd9bv7s_border-bottom-style: solid;
  --mixin-vDjk9Pd9bv7s_border-bottom-width: 1px;
  --mixin-vDjk9Pd9bv7s_border-left-color: #dddddd;
  --mixin-vDjk9Pd9bv7s_border-left-style: solid;
  --mixin-vDjk9Pd9bv7s_border-left-width: 1px;
  --mixin-vDjk9Pd9bv7s_border-right-color: #dddddd;
  --mixin-vDjk9Pd9bv7s_border-right-style: solid;
  --mixin-vDjk9Pd9bv7s_border-right-width: 1px;
  --mixin-vDjk9Pd9bv7s_border-top-color: #dddddd;
  --mixin-vDjk9Pd9bv7s_border-top-style: solid;
  --mixin-vDjk9Pd9bv7s_border-top-width: 1px;
  --mixin-vDjk9Pd9bv7s_border-bottom-left-radius: 3px;
  --mixin-vDjk9Pd9bv7s_border-bottom-right-radius: 3px;
  --mixin-vDjk9Pd9bv7s_border-top-left-radius: 3px;
  --mixin-vDjk9Pd9bv7s_border-top-right-radius: 3px;
  --mixin-vDjk9Pd9bv7s_font-family: "Inconsolata";
  --mixin-vDjk9Pd9bv7s_padding-bottom: 3px;
  --mixin-vDjk9Pd9bv7s_padding-left: 6px;
  --mixin-vDjk9Pd9bv7s_padding-right: 6px;
  --mixin-vDjk9Pd9bv7s_padding-top: 3px;
  --mixin-vDjk9Pd9bv7s_white-space: pre-wrap;
  --mixin-FnajCRiv3S4R_display: flex;
  --mixin-FnajCRiv3S4R_flex-direction: column;
  --mixin-FnajCRiv3S4R_align-items: stretch;
  --mixin-FnajCRiv3S4R_justify-content: flex-start;
  --mixin-FnajCRiv3S4R_list-style-position: outside;
  --mixin-FnajCRiv3S4R_padding-left: 40px;
  --mixin-FnajCRiv3S4R_position: relative;
  --mixin-FnajCRiv3S4R_list-style-type: disc;
  --mixin-FnajCRiv3S4R_white-space: pre-wrap;
  --mixin-HvcFyo7Snz8T5_display: flex;
  --mixin-HvcFyo7Snz8T5_flex-direction: column;
  --mixin-HvcFyo7Snz8T5_align-items: stretch;
  --mixin-HvcFyo7Snz8T5_justify-content: flex-start;
  --mixin-HvcFyo7Snz8T5_list-style-position: outside;
  --mixin-HvcFyo7Snz8T5_padding-left: 40px;
  --mixin-HvcFyo7Snz8T5_position: relative;
  --mixin-HvcFyo7Snz8T5_list-style-type: decimal;
  --mixin-HvcFyo7Snz8T5_white-space: pre-wrap;
  --mixin-IpnnsMXwd3rnd_color: #000000;
  --mixin-IpnnsMXwd3rnd_font-size: 20px;
  --mixin-IpnnsMXwd3rnd_font-weight: 600;
  --mixin-IpnnsMXwd3rnd_letter-spacing: -0.3px;
  --mixin-IpnnsMXwd3rnd_line-height: 1.5;
  --mixin-IpnnsMXwd3rnd_white-space: pre-wrap;
  --mixin-HmHBoITn1vgKP_color: #000000;
  --mixin-HmHBoITn1vgKP_font-size: 16px;
  --mixin-HmHBoITn1vgKP_font-weight: 600;
  --mixin-HmHBoITn1vgKP_line-height: 1.5;
  --mixin-HmHBoITn1vgKP_white-space: pre-wrap;
  --mixin-0ulGKvHB0bSeg_color: #3291ff;
  --mixin-0ulGKvHB0bSeg_white-space: pre-wrap;
  --mixin-axg4fWuOLXU3E_white-space: pre-wrap;
  --mixin-Bv_b2aMTBWnGj_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
.root_reset {
  font-family: var(--mixin-CzDtDaISjQ-v_font-family);
  font-size: var(--mixin-CzDtDaISjQ-v_font-size);
  font-weight: var(--mixin-CzDtDaISjQ-v_font-weight);
  font-style: var(--mixin-CzDtDaISjQ-v_font-style);
  color: var(--mixin-CzDtDaISjQ-v_color);
  text-align: var(--mixin-CzDtDaISjQ-v_text-align);
  text-transform: var(--mixin-CzDtDaISjQ-v_text-transform);
  line-height: var(--mixin-CzDtDaISjQ-v_line-height);
  letter-spacing: var(--mixin-CzDtDaISjQ-v_letter-spacing);
  white-space: var(--mixin-CzDtDaISjQ-v_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset :global(.__wab_expr_html_text) h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-pPa4TcFonnCn_color);
  font-weight: var(--mixin-pPa4TcFonnCn_font-weight);
  font-size: var(--mixin-pPa4TcFonnCn_font-size);
  line-height: var(--mixin-pPa4TcFonnCn_line-height);
  letter-spacing: var(--mixin-pPa4TcFonnCn_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset :global(.__wab_expr_html_text) h2),
:where(.root_reset.plasmic_default__h2) {
  color: var(--mixin--x76mefiqsQU_color);
  font-size: var(--mixin--x76mefiqsQU_font-size);
  font-weight: var(--mixin--x76mefiqsQU_font-weight);
  letter-spacing: var(--mixin--x76mefiqsQU_letter-spacing);
  line-height: var(--mixin--x76mefiqsQU_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset :global(.__wab_expr_html_text) a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-mzTN3q4xEjXr_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset :global(.__wab_expr_html_text) h3),
:where(.root_reset.plasmic_default__h3) {
  color: var(--mixin-PRmvoRb3ZwyG_color);
  font-size: var(--mixin-PRmvoRb3ZwyG_font-size);
  font-weight: var(--mixin-PRmvoRb3ZwyG_font-weight);
  letter-spacing: var(--mixin-PRmvoRb3ZwyG_letter-spacing);
  line-height: var(--mixin-PRmvoRb3ZwyG_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset :global(.__wab_expr_html_text) h4),
:where(.root_reset.plasmic_default__h4) {
  color: var(--mixin-J-85gelNlI3A_color);
  font-size: var(--mixin-J-85gelNlI3A_font-size);
  font-weight: var(--mixin-J-85gelNlI3A_font-weight);
  letter-spacing: var(--mixin-J-85gelNlI3A_letter-spacing);
  line-height: var(--mixin-J-85gelNlI3A_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset :global(.__wab_expr_html_text) code),
:where(.root_reset.plasmic_default__code) {
  background: #f8f8f8;
  font-family: var(--mixin-zFEF3JOzzQLF_font-family);
  border-radius: var(--mixin-zFEF3JOzzQLF_border-top-left-radius)
    var(--mixin-zFEF3JOzzQLF_border-top-right-radius)
    var(--mixin-zFEF3JOzzQLF_border-bottom-right-radius)
    var(--mixin-zFEF3JOzzQLF_border-bottom-left-radius);
  padding: var(--mixin-zFEF3JOzzQLF_padding-top)
    var(--mixin-zFEF3JOzzQLF_padding-right)
    var(--mixin-zFEF3JOzzQLF_padding-bottom)
    var(--mixin-zFEF3JOzzQLF_padding-left);
  border-top: var(--mixin-zFEF3JOzzQLF_border-top-width)
    var(--mixin-zFEF3JOzzQLF_border-top-style)
    var(--mixin-zFEF3JOzzQLF_border-top-color);
  border-right: var(--mixin-zFEF3JOzzQLF_border-right-width)
    var(--mixin-zFEF3JOzzQLF_border-right-style)
    var(--mixin-zFEF3JOzzQLF_border-right-color);
  border-bottom: var(--mixin-zFEF3JOzzQLF_border-bottom-width)
    var(--mixin-zFEF3JOzzQLF_border-bottom-style)
    var(--mixin-zFEF3JOzzQLF_border-bottom-color);
  border-left: var(--mixin-zFEF3JOzzQLF_border-left-width)
    var(--mixin-zFEF3JOzzQLF_border-left-style)
    var(--mixin-zFEF3JOzzQLF_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset :global(.__wab_expr_html_text) blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-eAVq2OMI8u5w_color);
  padding-left: var(--mixin-eAVq2OMI8u5w_padding-left);
  border-left: var(--mixin-eAVq2OMI8u5w_border-left-width)
    var(--mixin-eAVq2OMI8u5w_border-left-style)
    var(--mixin-eAVq2OMI8u5w_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset :global(.__wab_expr_html_text) pre),
:where(.root_reset.plasmic_default__pre) {
  background: #f8f8f8;
  font-family: var(--mixin-vDjk9Pd9bv7s_font-family);
  border-radius: var(--mixin-vDjk9Pd9bv7s_border-top-left-radius)
    var(--mixin-vDjk9Pd9bv7s_border-top-right-radius)
    var(--mixin-vDjk9Pd9bv7s_border-bottom-right-radius)
    var(--mixin-vDjk9Pd9bv7s_border-bottom-left-radius);
  padding: var(--mixin-vDjk9Pd9bv7s_padding-top)
    var(--mixin-vDjk9Pd9bv7s_padding-right)
    var(--mixin-vDjk9Pd9bv7s_padding-bottom)
    var(--mixin-vDjk9Pd9bv7s_padding-left);
  border-top: var(--mixin-vDjk9Pd9bv7s_border-top-width)
    var(--mixin-vDjk9Pd9bv7s_border-top-style)
    var(--mixin-vDjk9Pd9bv7s_border-top-color);
  border-right: var(--mixin-vDjk9Pd9bv7s_border-right-width)
    var(--mixin-vDjk9Pd9bv7s_border-right-style)
    var(--mixin-vDjk9Pd9bv7s_border-right-color);
  border-bottom: var(--mixin-vDjk9Pd9bv7s_border-bottom-width)
    var(--mixin-vDjk9Pd9bv7s_border-bottom-style)
    var(--mixin-vDjk9Pd9bv7s_border-bottom-color);
  border-left: var(--mixin-vDjk9Pd9bv7s_border-left-width)
    var(--mixin-vDjk9Pd9bv7s_border-left-style)
    var(--mixin-vDjk9Pd9bv7s_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset :global(.__wab_expr_html_text) ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-FnajCRiv3S4R_display);
  flex-direction: var(--mixin-FnajCRiv3S4R_flex-direction);
  align-items: var(--mixin-FnajCRiv3S4R_align-items);
  justify-content: var(--mixin-FnajCRiv3S4R_justify-content);
  list-style-position: var(--mixin-FnajCRiv3S4R_list-style-position);
  padding-left: var(--mixin-FnajCRiv3S4R_padding-left);
  position: var(--mixin-FnajCRiv3S4R_position);
  list-style-type: var(--mixin-FnajCRiv3S4R_list-style-type);
  flex-column-gap: var(--mixin-FnajCRiv3S4R_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset :global(.__wab_expr_html_text) ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-HvcFyo7Snz8T5_display);
  flex-direction: var(--mixin-HvcFyo7Snz8T5_flex-direction);
  align-items: var(--mixin-HvcFyo7Snz8T5_align-items);
  justify-content: var(--mixin-HvcFyo7Snz8T5_justify-content);
  list-style-position: var(--mixin-HvcFyo7Snz8T5_list-style-position);
  padding-left: var(--mixin-HvcFyo7Snz8T5_padding-left);
  position: var(--mixin-HvcFyo7Snz8T5_position);
  list-style-type: var(--mixin-HvcFyo7Snz8T5_list-style-type);
  flex-column-gap: var(--mixin-HvcFyo7Snz8T5_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset :global(.__wab_expr_html_text) h5),
:where(.root_reset.plasmic_default__h5) {
  color: var(--mixin-IpnnsMXwd3rnd_color);
  font-size: var(--mixin-IpnnsMXwd3rnd_font-size);
  font-weight: var(--mixin-IpnnsMXwd3rnd_font-weight);
  letter-spacing: var(--mixin-IpnnsMXwd3rnd_letter-spacing);
  line-height: var(--mixin-IpnnsMXwd3rnd_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset :global(.__wab_expr_html_text) h6),
:where(.root_reset.plasmic_default__h6) {
  color: var(--mixin-HmHBoITn1vgKP_color);
  font-size: var(--mixin-HmHBoITn1vgKP_font-size);
  font-weight: var(--mixin-HmHBoITn1vgKP_font-weight);
  line-height: var(--mixin-HmHBoITn1vgKP_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset :global(.__wab_expr_html_text) a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-0ulGKvHB0bSeg_color);
}

:where(.root_reset .plasmic_default__li),
:where(.root_reset .li),
:where(.root_reset :global(.__wab_expr_html_text) li),
:where(.root_reset.plasmic_default__li) {
}

:where(.root_reset .plasmic_default__p),
:where(.root_reset .p),
:where(.root_reset :global(.__wab_expr_html_text) p),
:where(.root_reset.plasmic_default__p) {
}
