.root {
  flex-direction: column;
  display: inline-flex;
  position: relative;
  width: auto;
  height: auto;
  background: #ffffff;
  padding: 100px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 24px;
}
.tokenName {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.textValue {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.description {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.tokenSwatch:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.tokenSwatchcolor:global(.__wab_instance) {
  flex-shrink: 0;
}
.tokenSwatchsizing:global(.__wab_instance) {
  flex-shrink: 0;
}
.tokenSwatchspacing:global(.__wab_instance) {
  flex-shrink: 0;
}
.tokenSwatchopacity:global(.__wab_instance) {
  flex-shrink: 0;
}
.tokenSwatchletterSpacing:global(.__wab_instance) {
  flex-shrink: 0;
}
.tokenSwatchtextCase:global(.__wab_instance) {
  flex-shrink: 0;
}
.tokenSwatchtextDecoration:global(.__wab_instance) {
  flex-shrink: 0;
}
.tokenSwatchbordeRadius:global(.__wab_instance) {
  flex-shrink: 0;
}
.tokenSwatchborderWidth:global(.__wab_instance) {
  flex-shrink: 0;
}
.tokenSwatchboxShadow:global(.__wab_instance) {
  flex-shrink: 0;
}
.tokenSwatchfontFamily:global(.__wab_instance) {
  flex-shrink: 0;
}
.tokenSwatchfontSize:global(.__wab_instance) {
  flex-shrink: 0;
}
.tokenSwatchfontWeight:global(.__wab_instance) {
  flex-shrink: 0;
}
.tokenSwatchlineHieight:global(.__wab_instance) {
  flex-shrink: 0;
}
.tokenSwatchradii:global(.__wab_instance) {
  flex-shrink: 0;
}
