.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.tokenName {
  position: relative;
  width: 100%;
  min-width: 0;
}
.value {
  position: relative;
  color: #ff0000;
  width: 100%;
  min-width: 0;
}
.description {
  position: relative;
  color: #00ffff;
  width: 100%;
  min-width: 0;
}
.color {
  display: block;
  position: relative;
  width: 50px;
  max-width: 50px;
  background: linear-gradient(#020000, #020000), #ffffff;
  padding: 0px;
}
